# This image is an official playwright image that already contains plawright deps,
# speeds things up not having to install them every time!
# NOTE: Make sure it matches the playwright version in package.json
image: mcr.microsoft.com/playwright:v1.56.1-jammy

definitions:
  steps:
    - step: &run-tests
        name: Run Vite & Playwright Tests
        caches:
          - node
        script:
          - npm install
          - npm run test:ci

pipelines:
  branches:
    main:
      - step: *run-tests
      - step:
          name: Mirror to GitHub
          deployment: github
          script:
            # bitbucket options will fetch just the current branch, so it is required to fetch all:
            - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
            # fetch all branches:
            - git fetch --all
            # track all branches but HEAD and the current one, which is already being tracked:
            - for i in $(git branch -a | grep remotes | grep -v "HEAD" | grep -v "$(git rev-parse --abbrev-ref HEAD)"); do git branch --track ${i#remotes/origin/} $i; done
            # publish the current working copy to gtithub
            - git push --mirror $GITHUB_REPO_URL

  pull-requests:
    "**":
      - step: *run-tests
