.test-css {
	display: inline-block;
	padding: 0.5rem 1rem;
	background-color: var(--color-background);
	color: var(--color-foreground);
	border: 2px solid var(--color-border);
	border-radius: var(--radius-md);
	font-family: var(--font-body);
	position: absolute;
	top: 1rem;
	right: 50%;
	transform: translateX(50%);

	i {
		margin-right: 0.25rem;
		font-size: 1rem;
	}
}
